#boots {
  background-color: #E1E1E1;
  overflow: hidden;
  padding: 0 15px;
}
#boots .sidebar {
  margin-top: 20px;
}
#boots .main .component {
  clear: both;
  margin-bottom: 30px;
}
#boots .main .component .content {
  display: block;
}
