#boots {
  background-color: #E1E1E1;
  overflow: hidden;
}
#boots .sidebar {
  width: 250px;
  float: left;
}
#boots .main {
  float: left;
  width: 900px;
}
#boots .main .component {
  clear: both;
  margin-bottom: 30px;
}
#boots .main .component .content {
  display: block;
}
#boots .main h1 {
  font-size: 25px;
}
#boots .main h1 span {
  font-size: 12px;
}
