#boots {

	background-color: #E1E1E1;
    overflow: hidden;
    padding: 0 15px;

	h1 {
		font-size: 25px;

		span {
			font-size: 12px;
		}
	}
	h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.sidebar {

		//width: 250px;
		//float: left;

		ul {
			margin-bottom: 20px;
		}
		li {

		}
	}

	.main {

		//float: left;
		//width: 900px;

		.component {

			clear: both;
			margin-bottom: 30px;

			.content {
				display: block;
			}
		}		
	}
}