#boots {
  background-color: #E1E1E1;
  overflow: hidden;
  padding: 0 15px;
}
#boots h1 {
  font-size: 25px;
}
#boots h1 span {
  font-size: 12px;
}
#boots h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
#boots .sidebar ul {
  margin-bottom: 20px;
}
#boots .main .component {
  clear: both;
  margin-bottom: 30px;
}
#boots .main .component .content {
  display: block;
}
